@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Display";
  src: url(fonts/SF-Pro-Display-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Semibold.otf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF Text";
  src: url(fonts/SF-Pro-Text-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 20px;
}
body {
  font-family: "SF Text", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #122545;
  color: #dfe4ec;
}

section {
  padding: 90px 90px;
  display: flex;
  flex-flow: column;

  h1 {
    font-size: 48px;
    padding-bottom: 20px;
    span {
      color: #ff5740;
    }
  }
  div {
    position: relative;
    h2 {
      font-size: 40px;
      margin-bottom: 50px;
    }
  }
  .imBlueDabaDEEdabiDI {
    top: 20px;
    left: -4px;
    position: absolute;
    background-color: #103f8e;
    width: 250px;
    height: 20px;
    z-index: -1;
  }
  .mainContainer {
    display: flex;
    flex-flow: row nowrap;
    .losangeContainer {
      position: relative;
      width: 323px;
      .insideImg {
        position: absolute;
        left: 30%;
        top: 30%;
      }
    }

    .caroussel {
      width: 90vw;
      margin: 0 auto;
      position: relative;
      .insideImg .show {
        opacity: 1;
      }
      .insideImg img {
        position: absolute;
        transition-duration: 1s;
        opacity: 0;
      }
    }
    .carousselTextContainer {
      .carousselTextCard {
        opacity: 1;
        right: 200px;
        top: 120px;
        position: absolute;
        width: 40vw;
        h3 {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .noShow {
        opacity: 0;
        position: absolute;
      }
    }
    .carousselBtn {
      position: absolute;
      top: 150px;
      height: 50px;
      right: 1vw;
      cursor: pointer;
    }
    .carousselBtn:hover {
      top: 135px;
      height: 70px;
      transition: all 0.5s;
    }
  }
}
